.registration {
  background-image: url("../../img/background_03.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  position: relative;
}

.reg_form {
  margin: 10em auto;
  width: 400px;
  max-width: 500px;
  display: flex;
  flex-direction: column;
}
.reg_form > label {
  display: block;
  color: var(--blue);
  font-size: 2rem;
  padding: 0.2em;
  text-align: left;
}
.reg_form > input {
  border: 8px solid var(--blue);
  height: 60px;
  border-radius: 3rem;
  margin-bottom: 1em;
  background-color: var(--bg-transparent);
  padding-left: 1em;
  color: var(--blue);
}

.reg_form > button {
  margin-top: 3em;
  width: 150px;
  height: 50px;
  align-self: center;
  border-radius: 3rem;
  border: 6px solid var(--blue);
  color: var(--blue);
  background-color: var(--bg-transparent);
}

button:hover {
  background-color: #f9d12e;
  transition: all ease 0.3s;
}

.reg_msg {
  color: rgb(160, 0, 0);
  transition: all ease 0.3s;
  padding: 1em;
}

.already_account {
  color: var(--blue);
}
.reg_here:hover {
  color: var(--yellow);
  cursor: pointer;
  transition: all ease 0.3s;
}
